.menu-container {
    margin-top: 140px;
    display: flex;
    gap: 20px;
    justify-content: end;
    padding: 20px;
}
.menu-container .menu-link {
    cursor: pointer;
    font-size: 22px;
}
.menu-container .menu-link:hover {
    color: var(--red-color);
}
.menu-container .menu-link.active {
    color: var(--red-color);
}

@media screen and (max-width: 850px) {
    .menu-container {
        gap: 10px;
    }
    .menu-container .menu-link {
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    .menu-container {
        flex-wrap: wrap;
    }
    .menu-container .menu-link {
        font-size: 16px;
    }
}